/* Reset all elements to a known default */
* {
   padding:0;
   margin:0;
   font-size:16px;
}


body {
    background-color:#333;
    color:#ddd;
}
h1 {
    font-size:200%;
}
h2 {
    font-size:180%;
}
h3 {
    font-size:160%;
}
nav.nav, nav.fake_nav {
    position:fixed;
    display:flex;
    background-color:#555;
    width:100%;
    z-index:1000;
}
nav.nav nav_items, nav.fake_nav nav_items {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
nav.nav nav_items *, nav.fake_nav nav_items * {
    margin:5px;
}
nav.nav *, nav.fake_nav * {
    margin:10px;
    margin-top:auto;
    margin-bottom:auto;
}
nav.nav spacer, nav.fake_nav spacer {
    flex:1;
}
nav.nav a, nav.fake_nav a {
    color:#aaf;
}
nav.fake_nav {
    position:unset;
    margin-bottom:2vh;
    opacity:0;
}
article#main_content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:15px;
}
article#main_content section {
    position:relative;
    display:grid;
    overflow:hidden;
    background-color:#666;
    margin:5px;
}
article#main_content section content {
    padding:10px;
    display:flex;
    flex-direction:column;
    z-index:10;
    transition:transform 0.4s ease-out, opacity 0.4s ease-out, z-index 0.4s cubic-bezier(0, 0.99, 0.01, 0.85);
}
article#main_content section content * {
    margin:10px;
}
article#main_content section .background img {
    transition:all 0.4s ease-out;
    filter:blur(5px);
    width:100%;
    z-index:0;
    overflow:hidden;
}
article#main_content section .background, article#main_content section content {
    grid-area:1/2;
}
article#main_content section:hover content {
    transition:transform 0.4s ease-in, opacity 0.4s ease-in, z-index 0.4s cubic-bezier(1, 0.11, 1,-0.26);
    opacity:0;
    transform:scale(0.99,0.99);
    /* transform:translate(0,-4px); */
    z-index:-1;
}
article#main_content section:hover .background img {
    transition:all 0.4s ease-in;
    filter:none;
}
content#dark_shade {
    background-color:#000000a0;
}


.h_center {
    margin-left:auto;
    margin-right:auto;
    width:min-content;
}
.v_center {
    margin-top:auto;
    margin-bottom:auto;
    height:min-content;
}


/*  Since this project only has 4 cards, it looks better as a 2x2, so we are leaving this off for now.
@media screen and (min-width:1500px) {
    article#main_content {
        grid-template-columns: repeat(3,1fr);
    }
}
*/
@media screen and (max-width:960px) {
    article#main_content {
        grid-template-columns: 1fr;
    }
    nav.nav nav_items, nav.fake_nav nav_items {
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
    }
}
